<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Open Sesame Web</title>
        <script src="/static/js/app.js" async defer></script>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    </head>
    <body>
        <p>Your password:</p>
        <h1 id="password" class="password">{{ .Password }}</h1>
        <hr>
        <h2>Create a new password:</h2>

        <form action="" method="get">
            <label for="length">Length:</label>
            <input
                type="number"
                id="length"
                name="length"
                autcomplete="off"
                value="{{ .Length }}"
                max="256"
                min="1"
            >

            <h3>Required Characters</h3>
            <fieldset id="alphabets">
                <label>
                    <input
                        id="upper"
                        type="checkbox"
                        name="checkboxes"
                        value="alpha-upper"
                        {{ with .CheckedUpper }}checked{{ end }}>
                        Uppercase
                </label>
                <input
                    type="text"
                    name="alpha-upper"
                    value="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                    readonly>
                <label>
                    <input
                        id="lower"
                        type="checkbox"
                        name="checkboxes"
                        value="alpha-lower"
                        {{ with .CheckedLower }}checked{{ end }}>
                    Lowercase
                </label>
                <input
                    type="text"
                    name="alpha-lower"
                    value="abcdefghijklmnopqrstuvwxyz"
                    readonly>
                <label>
                    <input
                        id="digits"
                        type="checkbox"
                        name="checkboxes"
                        value="alpha-digit"
                        {{ with .CheckedDigit }}checked{{ end }}>
                    Digits
                </label>
                <input
                    type="text"
                    name="alpha-digit"
                    value="0123456789"
                    readonly>

                {{ range $i, $a := .ExtraAlphabets }}
                    <label>
                        <input
                            type="checkbox"
                            name="checkboxes"
                            value="alpha-{{$i}}"
                            checked>
                        Custom
                    </label>
                    <input
                        type="text"
                        name="alpha-{{$i}}"
                        value="{{$a}}">
                {{ end }}
                <button id="add-button" type="button">+</button>
                <label for="add-button">Add requirement</label>
            </fieldset>
            <button type="submit">Generate Password!</button>
        </form>

    </body>
</html>
