<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Open Sesame Web</title>
        <script src="/static/js/app.js" async defer></script>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    </head>
    <body>
        <p>Your password:</p>
        <h1 id="password" class="password">{{ .Password }}</h1>
        <hr>
        <h2>Create a new password:</h2>

        <form action="" method="get">
            <label for="length">Length:</label>
            <input
                type="number"
                id="length"
                name="length"
                autcomplete="off"
                value="{{ .Length }}"
                max="256"
                min="1"
            >

            <h3>Required Characters</h3>
            <fieldset id="alphabets">
                <ul id="req-list">
                {{ range $i, $a := .Alphabets }}
                <li>
                    <label for="alpha-{{$i}}">
                        {{ $a.Label }}
                    </label>
                    <input
                        id="alpha-{{$i}}"
                        type="checkbox"
                        name="checkboxes"
                        value="alpha-{{$i}}"
                        checked>
                    <input
                        type="text"
                        name="alpha-{{$i}}"
                        value="{{ $a.Value }}">
                </li>
                {{ end }}
                </ul>
                <div class="add-button">
                    <button id="add-button" type="button">+</button>
                    <label for="add-button">Add requirement</label>
                </div>
            </fieldset>
            <button type="submit">Generate Password!</button>
        </form>

    </body>
</html>
